

<div id="srvc">
     <div class="sr"> 
         <svg role="presentation" fill="none" focusable="false" stroke-width="2" width="24" height="24" class="hidden sm:block icon icon-picto-timer" viewBox="0 0 24 24">
             <path d="M12 22.488A8.874 8.874 0 1 0 12 4.74a8.874 8.874 0 0 0 0 17.748v0Z" fill="currentColor" fill-opacity=".12" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
             <path d="M1.512 4.74a14.021 14.021 0 0 1 4.034-3.228M22.488 4.74a14.021 14.021 0 0 0-4.033-3.228M12 8.774v4.837h4.034" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
           </svg>
        <h4>NEXT DAY SHIPPING</h4>
     </div>
     <div class="sr">
         <svg role="presentation" fill="none" focusable="false" stroke-width="2" width="24" height="24" class="hidden sm:block icon icon-picto-return" viewBox="0 0 24 24">
             <path d="M2.04 17.208a5.362 5.362 0 0 0 4.721 4.731c1.706.189 3.456.347 5.24.347 1.782 0 3.532-.158 5.238-.347a5.362 5.362 0 0 0 4.72-4.731c.18-1.697.327-3.435.327-5.208 0-1.773-.148-3.513-.326-5.208a5.362 5.362 0 0 0-4.721-4.731c-1.706-.189-3.456-.347-5.239-.347s-3.533.158-5.239.347a5.362 5.362 0 0 0-4.72 4.731c-.18 1.697-.327 3.435-.327 5.208 0 1.773.148 3.513.326 5.208Z" fill="currentColor" fill-opacity=".12" stroke="currentColor"></path>
             <path d="M6.857 13.977h5.907a3.429 3.429 0 0 0 3.429-3.429V7.293M10.2 10.635c-1.468 1.2-2.2 1.934-3.343 3.343C8 15.384 8.732 16.118 10.2 17.32" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
           </svg>
           <h4>90-DAY RETURNS</h4>
     </div>
     <div class="sr">
         <svg role="presentation" fill="none" focusable="false" stroke-width="2" width="24" height="24" class="hidden sm:block icon icon-picto-chat" viewBox="0 0 24 24">
             <path d="M19.292 9.603a6.734 6.734 0 0 0-8.765 1.597 6.805 6.805 0 0 0 .02 8.48 6.73 6.73 0 0 0 7.777 2.058l3.55.594a.644.644 0 0 0 .717-.837l-.9-2.701a6.82 6.82 0 0 0-2.4-9.19h.001Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
             <path d="M12.165 1.635A8.978 8.978 0 0 0 5.921 2.78v-.002a9.09 9.09 0 0 0-3.199 12.257l-1.2 3.6a.857.857 0 0 0 .955 1.118l4.733-.794a8.975 8.975 0 0 0 3.277.647 6.807 6.807 0 0 1-1.265-5.673 6.806 6.806 0 0 1 1.305-2.732 6.734 6.734 0 0 1 8.765-1.597h-.002c.083.05.164.102.244.155a9.077 9.077 0 0 0-1.929-4.85 8.978 8.978 0 0 0-5.44-3.273Z" fill="currentColor" fill-opacity=".12" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
           </svg>
           <h4>FAST INDIA CUSTOMER SERVICE</h4>
     </div>
     <div class="sr">
         <svg role="presentation" fill="none" focusable="false" stroke-width="2" width="24" height="24" class="hidden sm:block icon icon-picto-earth" viewBox="0 0 24 24">
             <path d="M12 22.621c5.866 0 10.621-4.755 10.621-10.621 0-5.866-4.755-10.621-10.621-10.621C6.134 1.379 1.379 6.134 1.379 12c0 5.866 4.755 10.621 10.621 10.621Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
             <path d="M5.055 16.085a2.86 2.86 0 0 0 2.86-2.86v-2.45a2.86 2.86 0 0 1 2.86-2.86 2.86 2.86 0 0 0 2.859-2.86V1.504A10.702 10.702 0 0 0 12 1.379C6.134 1.379 1.379 6.134 1.379 12c0 1.448.29 2.828.814 4.085h2.862ZM22.62 11.836a5.817 5.817 0 0 0-2.646-.653h-3.48a2.86 2.86 0 0 0 0 5.719 2.042 2.042 0 0 1 2.042 2.043v1.421h.008a10.602 10.602 0 0 0 4.077-8.303v-.126l-.001-.1Z" fill="currentColor" fill-opacity=".12" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
           </svg>
           <h4>ALL INDIA SHIPPING</h4>
     </div>
 </div>



<div id="footer">
    <div id="footer_top">
         <h1>GET ACCESS TO OUR LATEST PRODUCT <br> ANNOUNCEMENTS,  TRAINING <br> PROTOCOLS,  DEALS & MORE!</h1>
         <div class="left_top">
           <div id="top_icons">
               <i class="ri-facebook-fill"></i>
               <i class="ri-instagram-line"></i>
               <i class="ri-pinterest-fill"></i>
               <i class="ri-youtube-fill"></i>
               <i class="ri-twitter-fill"></i>
           </div>
             <a href="#">© 2023, The Tib Bar Guy.</a>
         </div>
    </div>
    <div class="right_footer">
         <div class="frow">
              <h6>NAVIGATION</h6>
              <a href="#">Shop</a>
              <a href="#">Learn</a>
              <a href="#">Our Story</a>
              <a href="#">Gift Cards</a>
              <a href="#">Creators</a>
              <a href="#">Affiliates</a>
              <a href="#">Military & First Responders</a>
              <a href="#">Support</a>
         </div>
         <div class="frow">
           <h6>THE TIB BAR GUY®</h6>
           <a href="#">Innovative Fitness Equipment Designed <br> For ATG Knees Over Toes Training, Home, & <br> Commercial Gyms.</a>
           <a href="#">Elevate Your Training Today</a>
      </div>
    </div>
</div>