

<style>
    #cartspann{
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        font-family: roobert;
        font-weight: 550;
        font-size: .7vmax;
        padding: 0.2vmax .5vmax;
        position: absolute;
        right: -50%;
        top: -30%;
    }
</style>
<div id="shop_page">
    <div class="sl">
         <div class="show_row">
             <div class="h6">
              <h6>EQUIPMENT</h6>
              <div class="line"></div>
             </div>
              <a href="/allproducts">SHOP ALL</a>
              <a href="/tib">TIB BARS</a>
              <a href="/nordic">NORDICS</a>
              <a href="/single">TORQUE BAR</a>
              <a href="/sb">SLANT BOARDS</a>
              <a href="/acc">ACCESORIES</a>
         </div>
         <div class="h6">
           <h6>NEW GEAR</h6>
           <div class="line"></div>
         </div>
    </div>
    <div class="sr">
         <div class="i1">
              <img src="https://thetibbarguy.com/cdn/shop/files/Mega_Menu_2.jpg?v=1687628179&width=1000" alt="">
         </div>
         <div class="i2">
            <div class="i21">
                 <img src="https://thetibbarguy.com/cdn/shop/files/Mega_Menu_1.jpg?v=1687624748&width=1000" alt="">
            </div>
            <div class="i21">
                 <img src="https://thetibbarguy.com/cdn/shop/files/Mega_Menu_3.jpg?v=1687628475&width=1000" alt="">
            </div>
         </div>
    </div>
</div>

<div id="top_fixed">
    <div id="scroll">
        <div class="s1">
            <div class="s">
                <div class="dot"></div>
                <h6>Next Day Shipping</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>90-Days Returns</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Fast India Based Customer Service</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Fast US Based Customer Service</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Next Day Shipping</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>90-Days Returns</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Fast India Based Customer Service</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Fast US Based Customer Service</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Next Day Shipping</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>90-Days Returns</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Fast India Based Customer Service</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Fast US Based Customer Service</h6>
            </div>





        </div>
        <div class="s1">
            <div class="s">
                <div class="dot"></div>
                <h6>Next Day Shipping</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>90-Days Returns</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Fast India Based Customer Service</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Fast US Based Customer Service</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Next Day Shipping</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>90-Days Returns</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Fast India Based Customer Service</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Fast US Based Customer Service</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Next Day Shipping</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>90-Days Returns</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Fast India Based Customer Service</h6>
            </div>
            <div class="s">
                <div class="dot"></div>
                <h6>Fast US Based Customer Service</h6>
            </div>

        </div>
        
    </div>
    <% if(user){ %>
        <div id="nav">
            <div class="l">
                <div onclick="window.location.href='/'" class="logo">
                    <img src="https://thetibbarguy.com/cdn/shop/files/BlackLogo.png?v=1680796818&width=180" alt="">
                </div>
            </div>
            <div class="c">
                <div id="shop" class="s">
                    <h6>SHOP</h6>
                    <i class="ri-arrow-drop-down-line"></i>
                </div>
                <h6>LEARN</h6>
                <h6>SUPPORT</h6>
            </div>
            <div id="nav_icon">
               
                <a id="search_icon" href="#" class="hidden tap-area sm:block" aria-controls="search-drawer">
                    <span class="sr-only"></span><svg role="presentation" stroke-width="2" focusable="false" width="22"
                        height="22" class="icon icon-search" viewBox="0 0 22 22">
                        <circle cx="11" cy="10" r="7" fill="none" stroke="currentColor"></circle>
                        <path d="m16 15 3 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg>
                </a>
                <a href="/profile" class="hidden tap-area sm:block">
                    <span class="sr-only"></span><svg role="presentation" stroke-width="2" focusable="false" width="22"
                        height="22" class="icon icon-account" viewBox="0 0 22 22">
                        <circle cx="11" cy="7" r="4" fill="none" stroke="currentColor"></circle>
                        <path d="M3.5 19c1.421-2.974 4.247-5 7.5-5s6.079 2.026 7.5 5" fill="none" stroke="currentColor"
                            stroke-linecap="round"></path>
                    </svg>
                </a>
                <a style="position: relative;" id="mycart" href="#">
                    <span id="cartspann"><%= user.carts.length %></span>
                    <svg role="presentation" stroke-width="2" focusable="false" width="22" height="22"
                        class="icon icon-cart" viewBox="0 0 22 22">
                        <path
                            d="M11 7H3.577A2 2 0 0 0 1.64 9.497l2.051 8A2 2 0 0 0 5.63 19H16.37a2 2 0 0 0 1.937-1.503l2.052-8A2 2 0 0 0 18.422 7H11Zm0 0V1"
                            fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
                <button type="button" class="tap-area lg:hidden" aria-controls="header-sidebar-menu">
                    <span class="sr-only"></span><svg role="presentation" stroke-width="2" focusable="false" width="22" height="22" class="icon icon-hamburger" viewBox="0 0 22 22">
                <path d="M1 5h20M1 11h20M1 17h20" stroke="currentColor" stroke-linecap="round"></path>
              </svg></button>
            </div>
        </div>
   <%  }else{ %>
    <div id="nav">
        <div class="l">
            <div  onclick="window.location.href='/'" class="logo">
                <img src="https://thetibbarguy.com/cdn/shop/files/BlackLogo.png?v=1680796818&width=180" alt="">
            </div>
        </div>
        <div class="c">
            <div id="shop" class="s">
                <h6>SHOP</h6>
                <i class="ri-arrow-drop-down-line"></i>
            </div>
            <h6>LEARN</h6>
            <h6>SUPPORT</h6>
        </div>
        <div id="nav_icon">
           
            <a id="search_icon" href="#" class="hidden tap-area sm:block" aria-controls="search-drawer">
                <span class="sr-only"></span><svg role="presentation" stroke-width="2" focusable="false" width="22"
                    height="22" class="icon icon-search" viewBox="0 0 22 22">
                    <circle cx="11" cy="10" r="7" fill="none" stroke="currentColor"></circle>
                    <path d="m16 15 3 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                    </path>
                </svg>
            </a>
            <a href="/profile" class="hidden tap-area sm:block">
                <span class="sr-only"></span><svg role="presentation" stroke-width="2" focusable="false" width="22"
                    height="22" class="icon icon-account" viewBox="0 0 22 22">
                    <circle cx="11" cy="7" r="4" fill="none" stroke="currentColor"></circle>
                    <path d="M3.5 19c1.421-2.974 4.247-5 7.5-5s6.079 2.026 7.5 5" fill="none" stroke="currentColor"
                        stroke-linecap="round"></path>
                </svg>
            </a>
            <a id="mycart" href="#">
                <svg role="presentation" stroke-width="2" focusable="false" width="22" height="22"
                    class="icon icon-cart" viewBox="0 0 22 22">
                    <path
                        d="M11 7H3.577A2 2 0 0 0 1.64 9.497l2.051 8A2 2 0 0 0 5.63 19H16.37a2 2 0 0 0 1.937-1.503l2.052-8A2 2 0 0 0 18.422 7H11Zm0 0V1"
                        fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </a>
            <button type="button" class="tap-area lg:hidden" aria-controls="header-sidebar-menu">
                <span class="sr-only"></span><svg role="presentation" stroke-width="2" focusable="false" width="22" height="22" class="icon icon-hamburger" viewBox="0 0 22 22">
            <path d="M1 5h20M1 11h20M1 17h20" stroke="currentColor" stroke-linecap="round"></path>
          </svg></button>
        </div>
    </div>
   <% } %>
    
</div>