<div class="search_page">
    
    <div class="sform">
       
       <div class="search">
          <input type="text" name="" placeholder="Search for...." id="se">
          <i id="closesearch" class="ri-close-fill"></i>
       </div>
       <div id="cent">
    </div>
      

    </div>
    
   
    <div class="search">
       <i class="uil uil-search"></i>
       
   </div>

   
</div>