<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Hospital</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/addproduct.css">
    <link rel="stylesheet" href="../stylesheets/nav.css">
    <link rel="stylesheet" href="../stylesheets/search.css">
    <link rel="stylesheet" href="../stylesheets/loco.css">
</head>
<style>
</style>
<body>
    <style>
       
        #add{
            transform: translateY(0%) !important;
        }
       
        #main_nav .left_nav h6{
            margin-bottom: -1px; 
        }
    </style>
    <% include ./partials/nav.ejs %>
    <div class="form_container">
         <div class="frm">             
             <div class="btm">
                <form action="/createproduct" method="post"  enctype="multipart/form-data">
                    <div class="top">
                        <a href="/"><i class="ri-close-line"></i></a>
                     </div>
                    <h1>Add Your Product Details</h1>
                    <div class="information">
                        <div class="info">
                          
                            <div class="mb-3">
                                <input name="Pn" placeholder="Your Product Name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <input name="price" placeholder="Your Product Price" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <input name="weight" placeholder="Your Product Weight" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <input name="height" placeholder="Your Product Height" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <input name="length" placeholder="Your Product Length" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <input name="width" placeholder="Your Product Width" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <label for="exampleInputEmail1" class="form-label">Add Photos of your Product</label>
                            <input style="padding: .5vmax 0 !important;padding-left:.5vmax !important;" type="file" class="form-control" id="formFile" accept="image/*" name="productphoto"  multiple>
                           
                            <div class="mb-3">
                                <input name="bolt" placeholder="Your Product BoltDescription " type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Add Des of your Product</label>
                                <textarea style="color: #111 !important;" name="Des" placeholder="Description of the Product" input type="text"  class="form-control" id="exampleInputPassword1"> </textarea>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Add Availability Product</label>
                                <textarea style="color: #111 !important;" name="Availability" placeholder="Availability of the Product" input type="text"  class="form-control" id="exampleInputPassword1"> </textarea>
                            </div>
                        </div>
                        
                      
                        
                        
                    <button type="submit" class="btn btn-primary">Add Your Product</button>

                    </div>
                  </form>
             </div>
         </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="../javascripts/search.js"></script>
</body>
</html>